
<div class="container">
  <h1 class="d-flex justify-content-center">Login</h1>
  <form>
    <label for="email">email</label>
    <input type="email" name="email" placeholder="email"><br>
    <label for="password">password</label>
    <input name="password" type="password" placeholder="password"><br>
    <button class="btn btn-primary" type="submit">Loguearme!</button>
  </form>

  <p>Preferis identificarte con github ? Hace click <a href="/githublogin">aqui</a> </p>
  <script src="/static/js/login.js"></script>
</div>