<h1>Tu perfil (sin datos sensibles)</h1>
<p>Nombre: <span>{{nombre}}</span></p>
<p>Apellido: <span>{{apellido}}</span></p>
<p>Correo electronico: <span>{{email}}</span></p>

<form>
  <button type="submit">Desloguearme!</button>
</form>
<script src="/static/js/profile.js"></script>